
body, html {
    height: 100%;
}

.bg { 
    /* The image used */
    background-image: url("https://pli.io/YwIB3.png") ;
    /*background-image: url("https://images.pexels.com/photos/699782/pexels-photo-699782.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");*/
    /*opacity: 0.5;
    filter: alpha(opacity=50); /* For IE8 and earlier */*/
    /* Full height */
     width: 100%;
    height: auto;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; 
     background-attachment: fixed;
   /*  background-image: linear-gradient(0deg,rgba(0,0,0,0) 50%,rgba(0,0,0,.5) 100%),radial-gradient(50% 120%,rgba(0,0,0,0) 50%,rgba(0,0,0,.7) 100%);*/
} 

.bg1{
     /* The image used */
    background-image: url("https://assets.nflxext.com/ffe/siteui/vlv3/21201051-e34b-42e5-be96-02283a6a5d7c/ff02629c-4014-4265-86ce-6039c280d8ab/IN-en-20180723-popsignuptwoweeks-perspective_alpha_website_large.jpg");
    /*background-image: url("https://images.pexels.com/photos/699782/pexels-photo-699782.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");*/
    opacity: 0.5;
    filter: alpha(opacity=50); /* For IE8 and earlier */
    /* Full height */
     width: 100%;
    height: auto;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; 
}
.pirate{
	 display: block;
    margin-left: auto;
    margin-right: auto;
    opacity: 1;  
    height: 40vh; 
    vertical-align: middle;
} 

.stream{
	/* display: block;*/
    margin-left: auto;
    margin-right: auto; 
 /*   background-color: #FFEB3B;*/

} 

mark { 
    background-color: #FFF176;
    font-family: 'Poppins', sans-serif;
   /* color: black;*/
} 

.searchbox{
	width: 50%;
} 

.result{
    color: red;
} 
ul{
	list-style-type: none;

}
table{
	color:rgb(236, 225, 225);
}
td{
    padding:20px;
}
.movieName{
	text-align: left;

}
button{
    margin:20px;
    outline: none;
    background: transparent;
    border:2px solid white;
    padding:8px;
}
button a:hover{
    text-decoration: none;
}
.card{
    height: auto;
    width:1000px;
    background: #333;
    box-shadow: 3px 3px 15px rgb(139, 85, 85);
}
.spinner {
    width: 40px;
    height: 40px;

    position: absolute;
    top: 48%;
    left: 48%;	}

.double-bounce1, .double-bounce2 {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: #333;
    opacity: 0.6;
    position: absolute;
    top: 0;
    left: 0;
    
    -webkit-animation: sk-bounce 2.0s infinite ease-in-out;
    animation: sk-bounce 2.0s infinite ease-in-out;
}

.double-bounce2 {
    -webkit-animation-delay: -1.0s;
    animation-delay: -1.0s;
}

@-webkit-keyframes sk-bounce {
    0%, 100% { -webkit-transform: scale(0.0) }
    50% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bounce {
    0%, 100% { 
        transform: scale(0.0);
        -webkit-transform: scale(0.0);
    } 50% { 
        transform: scale(1.0);
        -webkit-transform: scale(1.0);
    }
}
.spinner-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ff6347;
    z-index: 999999;
    }
.high {
    font-family: 'Poppins', sans-serif;
} 

.watch{ 
    font-family: Helvetica;
    font-size: 24px; 
    color: rgb(253, 5, 5);
} 

.back{ 
    font-family: Helvetica;
   /* background-color: #fff; */
    font-size: 28px; 
    color: #fff;
} 

.warn{
      font-family: Helvetica;
    background-color: #e50914; 
   
    color: #fff;
} 
